.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    vertical-align: middle;
}

.formContainer {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 30px ;
}

.registerForm,
.loginForm {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.legend {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(108, 62, 168);
    margin-bottom: 20px;
}

mat-form-field {
    margin: 0 10px;
}

.submitBtn {
    text-transform: uppercase;
    width: fit-content;
    padding: 0 10px;
    font-size: 20px;
    margin: 10px;
}
.submitBtn:hover {
    background-color: rgb(255, 69, 69);
}

.comparisonError {
    width: 15em;
    font-size: 15px;
}

.switchViewLink {
    text-align: center;
    font-size: smaller;
    color: rgb(255, 69, 69);
}
.switchViewLink a {
    text-decoration: none;
}
.switchViewLink a:hover {
    text-decoration: underline;
}