<div class="container">

    <!--REGISTER FORM-->
    <div *ngIf="showRegister">
        <div class="mat-elevation-z4 formContainer">

            <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <legend class="legend">{{"userForm.legendReg" | translate}}</legend>

                <mat-form-field appearance="outline">
                    <mat-label>{{"userForm.usernameLabel" | translate}}:</mat-label>

                    <input matInput formControlName="username" type="text">

                    <mat-error *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors">
                        {{"userForm.fieldRequiredError" | translate}}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>{{"userForm.passwordLabel" | translate}}:</mat-label>

                    <input matInput formControlName="password" type="password">

                    <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
                        {{"userForm.fieldRequiredError" | translate}}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>{{"userForm.repeatPasswordLabel" | translate}}:</mat-label>

                    <input matInput formControlName="rePass" type="password">
                </mat-form-field>
                <mat-error class="comparisonError" *ngIf="registerForm.hasError('comparisonError')">
                    {{"userForm.repeatPasswordError" | translate}}
                </mat-error>
                <br>

                <button mat-raised-button color="primary" class="submitBtn" type="submit"
                [disabled]="registerForm.invalid && registerForm.touched">{{"userForm.submitBtnReg" | translate}}</button>
            </form>
        </div>
        <p class="switchViewLink">
            {{"userForm.switchToLoginMsg" | translate}} 
            <a routerLink="/login">{{"userForm.switchViewBtn" | translate}}</a>
        </p>
    </div>


    <!--LOGIN FORM-->
    <div *ngIf="showLogin">
        <div class="mat-elevation-z4 formContainer">

            <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">

                <legend class="legend">{{"userForm.legendLogin" | translate}}</legend>

                <mat-form-field appearance="outline">
                    <mat-label>{{"userForm.usernameLabel" | translate}}:</mat-label>

                    <input matInput formControlName="username" type="text">

                    <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors">
                        {{"userForm.fieldRequiredError" | translate}}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>{{"userForm.passwordLabel" | translate}}:</mat-label>

                    <input matInput formControlName="password" type="password">

                    <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
                        {{"userForm.fieldRequiredError" | translate}}
                    </mat-error>
                </mat-form-field>

                <br>

                <button mat-raised-button color="primary" class="submitBtn" type="submit"
                    [disabled]="loginForm.touched && loginForm.invalid">{{"userForm.submitBtnLogin" | translate}}</button>
            </form>
        </div>
        <p class="switchViewLink">
            {{"userForm.switchToRegMsg" | translate}} 
            <a routerLink="/register">{{"userForm.switchViewBtn" | translate}}</a>
        </p>
    </div>
</div>