
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    vertical-align: middle;
}

.bigButton {
    height: 100px;
    width: 350px;
    text-align: center;
    border: none;
    outline: none;
    overflow: hidden;
    margin: 150px 20px;
    border-radius: 10px;
    cursor: pointer;
}


.btn-icon {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin: 0 5px;
    color: white;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
}

.btn-text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin: 0 7px;
    color: white;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
}


.bigButton:hover .btn-text {
    margin-left: 200px;
}


.register, .login {
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
}

.register:hover, .login:hover {
    background: linear-gradient(to top, rgb(108, 62, 168), rgb(255, 69, 69));
}


.icon {
    height: fit-content;
    width: fit-content;
    font-size: 1em;
}