<div class="container">
    <button routerLink="/register" class="mat-elevation-z4 bigButton register">
        <span class="btn-icon">
            <mat-icon class="icon">person_add</mat-icon>
        </span>
        <span class="btn-text">{{"home.registerBtn" | translate}}</span>
    </button>
    
    <button routerLink="/login" class="mat-elevation-z4 bigButton login">
        <span class="btn-icon">
            <mat-icon class="icon">meeting_room</mat-icon>
        </span>
        <span class="btn-text">{{"home.loginBtn" | translate}}</span>
    </button>
</div>
