<div class="mat-elevation-z4 formDiv">
    <form class="addForm" [formGroup]="form" (ngSubmit)="addEmployeeFromForm()">
        <legend class="legend">{{'employeeForm.title' | translate}}</legend>

        <!--First Name-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.firstNameLabel' | translate}}</mat-label>

            <input matInput formControlName="firstName" type="text">

            <!--Errors-->
            <mat-error *ngIf="form.controls['firstName'].errors?.required && form.controls['firstName'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['firstName'].errors?.nameContainsNums && form.controls['firstName'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['firstName'].errors?.nameTooShort && form.controls['firstName'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>


        <!--Last Name-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.lastNameLabel' | translate}}</mat-label>

            <input matInput formControlName="lastName" type="text">

            <!--Errors-->
            <mat-error *ngIf="form.controls['lastName'].errors?.required && form.controls['lastName'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['lastName'].errors?.nameContainsNums && form.controls['lastName'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['lastName'].errors?.nameTooShort && form.controls['lastName'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>

        <br>

        <!--Email-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.emailLabel' | translate}}</mat-label>
            <input matInput formControlName="email" type="email">

            <!--Errors-->
            <mat-error *ngIf="form.controls['email'].errors?.required && form.controls['email'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched">
                {{'employeeForm.emailValidatorError' | translate}}
            </mat-error>
        </mat-form-field>

        <br>

        <!--Position-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.positionLabel' | translate}}</mat-label>
            <input matInput formControlName="position" type="text">

            <mat-error *ngIf="form.controls['position'].errors?.required && form.controls['position'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
        </mat-form-field>


        <!--Department-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.departmentLabel' | translate}}</mat-label>
            <input matInput formControlName="department" type="text">

            <mat-error *ngIf="form.controls['department'].errors?.required && form.controls['department'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
        </mat-form-field>

        <br>


        <!--Salary-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.salaryLabel' | translate}}</mat-label>
            <input matInput type="number" formControlName="salary">

            <!--Errors-->
            <mat-error *ngIf="form.controls['salary'].errors?.required && form.controls['salary'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls.salary.errors?.min && form.controls.salary.touched">
                {{'employeeForm.salaryNotPositiveError' | translate}}
            </mat-error>
        </mat-form-field>


        <!--City-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.cityLabel' | translate}}</mat-label>
            <input matInput formControlName="city" type="text">

            <!--Errors-->
            <mat-error *ngIf="form.controls['city'].errors?.required && form.controls['city'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['city'].errors?.nameContainsNums && form.controls['city'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="form.controls['city'].errors?.nameTooShort && form.controls['city'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary" class="submitBtn" type="submit"
            [disabled]="form.touched && form.invalid">{{'employeeForm.submitBtn' | translate}}</button>
    </form>
</div>