

.formDiv {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 10px;
    margin: 75px auto;
    border-radius: 5px;
    text-align: center;
}

.addForm {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.legend {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(108, 62, 168);
    margin-bottom: 20px;
}

mat-form-field {
    margin: 0 10px;
}

.submitBtn {
    text-transform: uppercase;
    width: 150px;
    font-size: 20px;
    margin: 10px;
}
.submitBtn:hover {
    background-color: rgb(255, 69, 69);
}

.optional {
    font-size: 10px;
}