
<div class="cardContainer">
    <div class="content">
        <p class="code">{{data.statusCode}}</p>
        <p class="msg">{{data.message}}</p>
        <button class="closeBtn mat-raised-button" (click)="onClose()">Close</button>
    </div>
</div>