
.cardContainer {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 25px;
    border-radius: 5px;
}

.content {
    background-color: white;
    display: block;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
}

.code {
    margin: 0;
    font-size: 75px;
    font-weight: bolder;
    color:  rgb(255, 69, 69);
}

.msg {
    font-size: 25px;
    text-align: center;
    background-color: rgba(245, 54, 54, 0.483);
    padding: 10px;
    border-radius: 10px;
}

.homeBtn, .closeBtn {
    font-size: 20px;
    padding: 10px;
}
.homeBtn:hover {
    background-color: rgb(108, 62, 168);
    color: white;
}
.closeBtn:hover {
    background-color: rgb(255, 69, 69);;
    color: white;
}