@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/



html, body { height: 100%; }
body { padding: 0; margin: 0; box-sizing: border-box; font-family: Roboto, "Helvetica Neue", sans-serif; }
