.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    vertical-align: middle;
}

.tableContainer {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
}

.content {
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/* BIG CIRCLE */
.circle {
    display: inline-block;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    padding: 5%;
    text-align: center;
    letter-spacing: 0.05rem;
    font-size: large;
    color: white;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
}

.total {
    font-size: 50px;
    margin: 15px;
}

.icon-holder {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
}


/* FILTER COMPONENT */
.filterContainer {
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-self: center;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
    width: 100%;
}

mat-label,
mat-select {
    color: white;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0);
}

.spacer {
    width: fit-content;
    min-width: 80px;
    padding: 0 5px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.05rem;
    padding: 20px 5px;
}

.filterBtn {
    height: 60px;
    width: fit-content;
    min-width: 80px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.filterBtn:hover {
    box-shadow: 0 5px 30px rgb(108, 62, 168);
}

.firstFormField {
    height: 60px;
    font-size: normal;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.formField {
    height: 60px;
    font-size: normal;
    border-right: 1px solid black;
}

.formField:hover,
.firstFormField:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.filterBtnText {
    font-weight: bold;
    color: white;
    letter-spacing: 0.05rem;
    margin: 20px 10px;
}


/* TABLE COMPONENT */
.employeeTable {
    min-width: 100%;
}

td.mat-cell,
td.mat-footer-cell {
    text-align: left;
    padding-right: 15px;
}

th.mat-header-cell {
    font-size: medium;
    text-align: left;
    padding-right: 15px;
}

button.mat-raised-button {
    font-size: 15px;
}


/* PAGINATOR */
.tablePaginator {
    background-color: rgb(219, 214, 246);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}