<div class="container">

    <div class="mat-elevation-z4 tableContainer">
        <div class="content">

            <!--Big Circle-->
            <div class="mat-elevation-z4 circle">
                <h4>{{'listView.bigCircle.total' | translate}}:</h4>
                <h1 class="total">{{totalEmployees$ | async}}</h1>
            </div>


            <!--Filter Component-->
            <div class="filterContainer mat-elevation-z4">
                <a *ngIf="departmentSelector.value || citySelector.value" class="filterBtn" (click)="resetFilters()">
                    <h4 class="filterBtnText">{{'listView.filterForm.resetBtn' | translate}}</h4>
                </a>
                <a class="spacer" *ngIf="!departmentSelector.value && !citySelector.value">{{'listView.filterForm.filterMsg' | translate}}</a>

                <mat-form-field class="firstFormField" appearance="fill">
                    <mat-label>{{'listView.filterForm.departmentLabel' | translate}}</mat-label>
                    <mat-select #departmentSelector id="departmentSelector">
                        <mat-option *ngFor="let d of (departments$ | async)" [value]="d">
                            {{d}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                    <mat-label>{{'listView.filterForm.cityLabel' | translate}}</mat-label>
                    <mat-select #citySelector id="citySelector">
                        <mat-option *ngFor="let c of (cities$ | async)" [value]="c">
                            {{c}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <a class="filterBtn" (click)="updateTable()">
                    <h4 class="filterBtnText">{{'listView.filterForm.filterBtn' | translate}}</h4>
                </a>
            </div>


            <!--Table Component-->
            <table mat-table class="mat-elevation-z4 employeeTable" [dataSource]="employeesRecords$">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{'listView.table.nameCol' | translate}}</th>
                    <td mat-cell *matCellDef="let employee">{{employee.firstName}} {{employee.lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>{{'listView.table.positionCol' | translate}}</th>
                    <td mat-cell *matCellDef="let employee">{{employee.position}}</td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef>{{'listView.table.departmentCol' | translate}}</th>
                    <td mat-cell *matCellDef="let employee">{{employee.department}}</td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>{{'listView.table.cityCol' | translate}}</th>
                    <td mat-cell *matCellDef="let employee">{{employee.city}}</td>
                </ng-container>

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let employee">
                        <button mat-raised-button color="warn" (click)="openDetailsDialog(employee)">{{'listView.table.detailsBtn' | translate}}</button>
                    </td>
                </ng-container>

                <tr style="background-color: rgb(219, 214, 246)" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>


            <!--Table Paginator-->
            <mat-paginator id="tablePaginator" aria-label="tablePaginator" (page)="updateTable()" class="mat-elevation-z4 tablePaginator"
                [length]="(paginatorData$ | async)?.totalItems" showFirstLastButtons="true" [pageSize]="10"
                [pageSizeOptions]="[1, 3, 5, 10, 20, 50]"></mat-paginator>
                
        </div>
    </div>
</div>