<!--Details View-->
<div *ngIf="detailsView" class="e-card-container">
    <mat-card class="e-card" *ngIf="employeeData as emp">
        <mat-card-header>
            <mat-card-title class="e-card-title">{{emp.firstName}} {{emp.lastName}}</mat-card-title>
            <mat-card-subtitle>{{emp.position}}</mat-card-subtitle>
        </mat-card-header>
        <img class="e-card-avatar" src="../../../assets/avatars/default-avatar.png" alt="Employee avatar picture">
        <mat-card-content class="e-card-content">
            <mat-label *ngIf="currentUser?.id == emp.userId">{{"employeeModal.detailsView.username" | translate}}: {{currentUser?.username}}</mat-label>
            <p>{{"employeeModal.detailsView.email" | translate}}: {{emp.email}}</p>
            <p>{{"employeeModal.detailsView.department" | translate}}: {{emp.department}}</p>
            <p>{{"employeeModal.detailsView.city" | translate}}: {{emp.city}}</p>
            <p *ngIf="currentUser?.id == emp.userId">{{"employeeModal.detailsView.salary" | translate}}: {{emp.salary}}</p>
            <p>{{"employeeModal.detailsView.status" | translate}}: {{emp.status}}</p>
        </mat-card-content>
        <button (click)="onCloseModal()" mat-raised-button>{{"employeeModal.detailsView.closeBtn" | translate}}</button>
        <button *ngIf="emp.userId == currentUser?.id" (click)="onUpdateView()" mat-raised-button color="primary">{{"employeeModal.detailsView.updateBtn" | translate}}</button>
        <button *ngIf="emp.userId == currentUser?.id" (click)="onDelete()" mat-raised-button color="warn">{{"employeeModal.detailsView.deleteBtn" | translate}}</button>
    </mat-card>
</div>


<!--Update View-->
<div *ngIf="updateView" class="mat-elevation-z4 formDiv">
    <form class="updateForm" [formGroup]="updateForm">
        
        <legend class="legend">{{"employeeForm.legend" | translate}}</legend>

        <!--First Name-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.firstNameLabel" | translate}}:</mat-label>

            <input matInput formControlName="firstName" type="text">

            <!--Error Section-->
            <mat-error *ngIf="updateForm.controls['firstName'].errors?.required && updateForm.controls['firstName'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['firstName'].errors?.nameContainsNums && updateForm.controls['firstName'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['firstName'].errors?.nameTooShort && updateForm.controls['firstName'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>


        <!--Last Name-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.lastNameLabel' | translate}}:</mat-label>

            <input matInput formControlName="lastName" type="text">

            <!--Error Section-->
            <mat-error *ngIf="updateForm.controls['lastName'].errors?.required && updateForm.controls['lastName'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['lastName'].errors?.nameContainsNums && updateForm.controls['lastName'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['lastName'].errors?.nameTooShort && updateForm.controls['lastName'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>

        <br>

        <!--Email-->
        <mat-form-field appearance="outline">
            <mat-label>{{'employeeForm.emailLabel' | translate}}:</mat-label>
            <input matInput formControlName="email" type="email">

            <!--Error Section-->
            <mat-error *ngIf="updateForm.controls['email'].errors?.required && updateForm.controls['email'].touched">
                {{'employeeForm.fieldRequiredError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['email'].errors?.email && updateForm.controls['email'].touched">
                {{"employeeForm.emailValidatorError" | translate}}
            </mat-error>
        </mat-form-field>


        <!--Position-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.positionLabel" | translate}}:</mat-label>
            <input matInput formControlName="position" type="text">
            
            <mat-error *ngIf="updateForm.controls['position'].errors?.required && updateForm.controls['position'].touched">
                {{"employeeForm.fieldRequiredError" | translate}}
            </mat-error>
        </mat-form-field>


        <!--Salary-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.salaryLabel" | translate}}:</mat-label>
            <input matInput type="number" formControlName="salary">

            <mat-error *ngIf="updateForm.controls['salary'].errors?.required && updateForm.controls['salary'].touched">
                {{"employeeForm.fieldRequiredError" | translate}}
            </mat-error>

            <mat-error *ngIf="updateForm.controls.salary.errors?.min && updateForm.controls.salary.touched">
                {{"employeeForm.salaryNotPositiveError" | translate}}
            </mat-error>
        </mat-form-field>
        
        <br>

        
        <!--Department-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.departmentLabel" | translate}}:</mat-label>
            <input matInput formControlName="department" type="text">
            
            <mat-error *ngIf="updateForm.controls['department'].errors?.required && updateForm.controls['department'].touched">
                {{"employeeForm.fieldRequiredError" | translate}}
            </mat-error>
        </mat-form-field>


        <!--City-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.cityLabel" | translate}}:</mat-label>
            <input matInput formControlName="city" type="text">

            <mat-error *ngIf="updateForm.controls['city'].errors?.required && updateForm.controls['city'].touched">
                {{"employeeForm.fieldRequiredError" | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['city'].errors?.nameContainsNums && updateForm.controls['city'].touched">
                {{'employeeForm.nameContainsNumsError' | translate}}
            </mat-error>
            <mat-error *ngIf="updateForm.controls['city'].errors?.nameTooShort && updateForm.controls['city'].touched">
                {{'employeeForm.nameTooShortError' | translate}}
            </mat-error>
        </mat-form-field>


        <!--Status-->
        <mat-form-field appearance="outline">
            <mat-label>{{"employeeForm.statusLabel" | translate}}:</mat-label><mat-label class="optional"> (optional)</mat-label>
            <input matInput formControlName="status" type="text">
        </mat-form-field>

        <br>

        <!--Submit Button-->
        <button
        mat-raised-button
        color="primary" class="submitBtn" 
        type="submit" [disabled]="false"
        (click)="onSubmit()"
        >{{"employeeForm.submitBtn" | translate}}</button>
        
        <!--Cancel Button-->
        <button mat-raised-button color="warn" class="submitBtn" 
        type="button" (click)="onCancelUpdate()">{{"employeeForm.cancelBtn" | translate}}</button>
    </form>
</div>
