.e-card-container {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.e-card button {
    margin: 0 5px;
}

.e-card {
    text-align: center;
    background-color: white;
    padding: 25px;
}

.e-card-avatar {
    width: 100px;
}


/* Update Form */
.formDiv {
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(108, 62, 168), rgb(255, 69, 69));
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.updateForm {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.updateForm mat-form-field {
    margin: 0 5px;
}
.updateForm button {
    margin: 10px;
}

.legend {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(108, 62, 168);
    margin-bottom: 20px;
}
