<mat-toolbar color="primary" class="mat-elevation-z4">
    <span routerLink="/"><mat-icon>perm_identity</mat-icon> Employees</span>

    <div class="spacer"></div>
  
    <a *ngIf="currentUser$ | async" mat-button routerLink="/employees" (click)="onAllEmployees()">{{"header.allEmployeesLink" | translate}}</a>

    <a *ngIf="(employeeProfile$ | async) as profile" mat-button (click)="onViewProfile(profile)">{{"header.viewProfileLink" | translate}}</a>

    <a *ngIf="(currentUser$ | async) && (employeeProfile$ | async) == null" mat-button routerLink="/employees/add">{{"header.addLink" | translate}}</a>
    
    <a *ngIf="currentUser$ | async" mat-button (click)="onLogout()">{{"header.logoutLink" | translate}}<mat-icon>forward</mat-icon></a>

    <span class="lang" [matMenuTriggerFor]="langMenu"><mat-icon>language</mat-icon></span>
    <mat-menu #langMenu>
        <button (click)="translator.use('en')" mat-menu-item>EN</button>
        <button (click)="translator.use('bg')" mat-menu-item>BG</button>
    </mat-menu>

</mat-toolbar>